
      <script type="text/javascript" src="{{ 'script.js' | asset_url }}"></script>
  
   <section class="p-policy p-privacy-policy">
     <div class="p-policy__inner p-privacy-policy__inner">
         {% render 'breadcrumbs-custom' %}
       <div class="p-policy__top  p-privacy-policy__top">
              
         <div class="p-terms-of-use__bg p-privacy-policy__bg">
           {{ 'p-terms-of-use-bg.png' | file_img_url : 'master' | img_tag: 'p-terms-of-use-bg', 'p-privacy-policy__bg'}}
          </div>
          <div class="p-privacy-policy-tree1">
             {{ 'privacy-policy-tree1.png' | file_img_url : 'master' | img_tag: 'privacy-policy-tree1' , 'sway'  }}      
          </div>
          <div class="p-privacy-policy-tree2">
             {{ 'privacy-policy-tree2.png' | file_img_url : 'master' | img_tag: 'privacy-policy-tree2'  , 'sway' }}      
          </div>
          <div class="p-privacy-policy-tree3">
             {{ 'privacy-policy-tree3.png' | file_img_url : 'master' | img_tag: 'privacy-policy-tree3' , 'sway' }}      
          </div>
           <div class="p-privacy-policy-bird">
             {{ 'privacy-policy-bird.png' | file_img_url : 'master' | img_tag: 'privacy-policy-bird' , 'sway' }}      
          </div>
          <div class="p-feature__top p-privacy-policy__top">
            <p class="p-project__ttl p-feature__ttl c-ttl p-privacy-policy__ttl">プライバシー<br class="p-farm-spOnly">ポリシー</p>
            {{ 'p-terms-of-use-underline.png' | file_img_url : 'master' | img_tag: 'p-terms-of-use-underline.png' , 'p-privacy-policy-underline'}}
          </div>
       </div>

       <div class="p-policy__wrapper">
         <div class="p-policy__content">
           <div class="p-policy__content--date">
             <p class="p-policy__content--textSmall">2010年11月施行</p>
             <p class="p-policy__content--textSmall">2021年7月30日改定</p>
           </div>
           <div class="p-privacy-policy__topText p-policy__text">
            石屋製菓株式会社ならびに石屋商事株式会社（以下「当社」という）は、個人情報保護に関する法令、その他の規範およびガイドラインを遵守し、お客様の個人情報を適正に取り扱うため、本プライバシーポリシーを制定します。
           </div>

           <ul class="p-policy__content--lists">
              <div class="p-policy__content--list p-policy__first">
                <h2 class="p-policy__content--title c-heading p-privacy-policy__green">1. <span>個人情報の定義</span></h2>
                <p class="p-policy__content--description p-policy__text">
                  本プライバシーポリシーにおいて、個人情報とは、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日、住所、電話番号、メールアドレス等、その他の記述等により特定の個人を識別することができるもの（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含みます。）を意味します。
                </p>
              </div>

              <div class="p-policy__content--list p-policy__first">
                <h2 class="p-policy__content--title c-heading p-privacy-policy__green">2. <span>個人情報の取得について</span></h2>
                <p class="p-policy__content--description p-policy__text">
                 <span class="p-policy__circle">●</span>当社は、お客様から個人情報を取得する場合には、あらかじめ、その利用目的を明示し、 お客様からの承諾をいただきます。<br>
                 <span class="p-policy__circle">●</span>当社は、適法かつ公正な手段により、お客様の個人情報を取得します。
                </p>
              </div>

              <div class="p-policy__content--list p-policy__three">
                <h2 class="p-policy__content--title c-heading p-privacy-policy__green">3. <span>個人情報の利用について</span></h2>
                <p class="p-privacy-policy__content--description p-policy__text">
                  当社は、お客様からのお問合せやサービスのお申込み等を通じて、お客様の氏名、生年月 日、住所、電話番号、メールアドレス等の個人情報をご提供いただく場合があります。ご提 供いただいた個人情報は、以下の目的の範囲内で利用するものといたします。
                </p>
                <p class="p-policy__content--description p-policy__text">
                  1. オンラインショッピング・通信販売における商品受注、発送、代金請求、代金決済、その他各種問い合わせ、アフターサービス等への対応<br>
                  2. 当社カタログ等のダイレクトメールおよびＦＡＸによる送付<br>
                  3. ＳＮＳやメールマガジン等による新商品、サービスに関するご案内<br>
                  4. キャンペーンやイベントに関するご案内および実施<br>
                  5. 当社が実施するアンケートへのご協力のお願い<br>
                  6. 当社商品・サービスの改良や向上を目的としたマーケティング調査・分析<br>
                  7. その他、上記手続きに必要なご連絡
                 </p>
              </div>

              <div class="p-policy__content--list p-policy__four">
                <h2 class="p-policy__content--title c-heading p-privacy-policy__green">4. <span>個人情報の保護・管理について</span></h2>
                <p class="p-policy__content--description p-policy__text">
                  <span class="p-policy__circle">●</span>当社は、お客様の個人情報への不正アクセス、個人情報の改ざん、紛失、漏えい等を防ぐため、必要かつ適切な安全対策を継続的に実施します。<br>
                  <span class="p-policy__circle">●</span>当社は、個人情報保護管理者を定め、お客様の個人情報に係るデータベース等へのアクセス権限を有する者を限定し、個人情報の適切な取り扱い、保護に努めます。<br>
                  <span class="p-policy__circle">●</span>当社は、お客様の個人情報が本ポリシーに基づき、適正に取り扱われるよう、役職員への研修・教育を通じて社内に周知し、個人情報の安全管理が図られるよう、必要かつ適切な指導・監督を行います。
                 </p>
              </div>

              <div class="p-policy__content--list p-policy__five">
                <h2 class="p-policy__content--title c-heading p-privacy-policy__green">5. <span>個人情報の第三者提供について</span></h2>
                <p class="p-policy__content--description p-policy__text">
                  <span class="p-policy__circle">●</span>当社では、法令に基づく場合、公衆の生命・財産など重大な利益の保護のために必要な場合を除き、事前にお客様の同意を得ることなく、第三者への開示・提供はいたしません。<br>
                  <span class="p-policy__circle">●</span>当社では、お客様からお預かりした個人情報を、商品・サービスの改良や向上の目的のため、第三者に提供する場合があります。この際は、当該第三者と個人情報に関する契約を締結し、個人情報の安全管理が図れるよう、委託先に対し必要かつ適切な監督を行います。
                 </p>
              </div>

              <div class="p-policy__content--list p-policy__six">
                <h2 class="p-policy__content--title c-heading p-privacy-policy__green">6. <span>個人情報の開示・訂正・利用停止・削除について</span></h2>
                <p class="p-policy__content--description p-policy__text">
                  当社は、お客様が個人情報の開示・訂正・利用停止・削除をご希望される場合には、合理的かつ必要な期間内で速やかに対応いたします。
                 </p>
              </div>

              <div class="p-policy__content--list p-policy__seven">
                <h2 class="p-policy__content--title c-heading p-privacy-policy__green">7. <span>個人情報の取り扱いに関するお問い合わせ先について</span></h2>
                <p class="p-policy__content--description p-policy__text">
                  当社の個人情報取り扱いに関するお問い合わせは、下記のご相談窓口で受付いたします。
                 </p>
                 <p class="p-policy__content--description p-policy__text">
                 <span class="p-policy-privacy__consultant"></span> 【ご相談窓口】<br>
                  石屋製菓株式会社・石谷商事株式会社 <span class="p-policy-privacy__company">お客様サービス室</span><br>
                  <フリーダイヤル>0120-375-562 <br>
                  受付時間：午前9時〜午後6時
                 </p>
              </div>

              <div class="p-policy__content--list p-policy__eight">
                <h2 class="p-policy__content--title c-heading p-privacy-policy__green">8. <span>Webサイトによる個人情報の取り扱いについて</span></h2>
                <p class="p-policy__content--description p-policy__text">
                  <span class="p-policy__circle">●</span>通信の暗号化<br>
                  当サイトは、日本ベイサリン株式会社の認証を受け、ＳＳＬ（Secure Sockets Layer）を利用して暗号化されています。ＳＳＬによって情報化することで、データの盗聴や改ざんを防止し、より安全に情報を送信することを可能としています。
                 </p>
              </div>

              <div class="p-policy__content--list p-policy__nine">
                <h2 class="p-policy__content--title c-heading p-privacy-policy__green ">9. <span>プライバシーポリシーの見直しについて</span></h2>
                <p class="p-policy__content--description p-policy__text">
                  当社は、お客様へより良いサービスを提供するために、プライバシーポリシーの内容を、継続的に見直し、その改善に努めます。
                 </p>
              </div>
              <div class="p-policy__name">
                <p class="p-policy__content--textSmall">石屋製菓株式会社</p>
              </div>

         </div>
       </div>
     </div>
   </section>



{% schema %}
  {
    "name": "Privacy-policy",
    "settings": [
	],
	"presets": [
      {
        "name": "Privacy-policy"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

