<section class="story-map">
  <div class="story-map__inner">
    <div class="p-story__mistletoe">
        {{ 'topics-mistletoe.png' | file_img_url : 'master' | img_tag: 'topics-mistletoe','sway-s-after' }}               
    </div>
    <h3>STORY MAP</h3>
    <div class="p-story__dots">
        {{ 'story-dots.png' | file_img_url : 'master' | img_tag: 'story-dots'}}               
    </div>
    <div class="p-story-find">
        <div class="story-find">
            {{ 'story-find.png' | file_img_url : 'master' | img_tag: 'story-find' }}               
        </div>
        <div class="p-story__title">
            <p>北海道の未来の種</p>
        </div>
      <div class="story-container__all">
        <div class="story-container">
            <div class="vegi-container__bg">
                {{ 'story-find_bg.png' | file_img_url : 'master' | img_tag: 'story-vegi1' }}               
            </div>
            <div class="story-container__inner">
                <div class="p-story__vegi1">
                    {{ 'story-vegi1.png' | file_img_url : 'master' | img_tag: 'story-vegi1','sway-s-after' }}               
                </div>
                <div class="p-story__vegi2">
                    {{ 'story-vegi2.png' | file_img_url : 'master' | img_tag: 'story-vegi2','sway-s-after' }}               
                </div>
                <div class="p-story__vegi3">
                    {{ 'story-vegi3.png' | file_img_url : 'master' | img_tag: 'story-vegi3','sway-s-after' }}               
                </div>
                <div class="p-story__vegi4">
                    {{ 'story-vegi4.png' | file_img_url : 'master' | img_tag: 'story-vegi4','sway-s-after' }}               
                </div>
                <div class="p-story__vegi5">
                    {{ 'story-vegi5.png' | file_img_url : 'master' | img_tag: 'story-vegi5','sway-s-after' }}               
                </div>
                <div class="p-story__vegi6">
                    {{ 'story-vegi6.png' | file_img_url : 'master' | img_tag: 'story-vegi6','sway-s-after' }}               
                </div>
                <div class="p-story__vegi7">
                    {{ 'story-vegi7.png' | file_img_url : 'master' | img_tag: 'story-vegi7','sway-s-after' }}               
                </div>
            </div>
            <p>1次／農作物</p>
        </div>
        <div class="story-left-container">
            <div class="find-left__inner">
                <div class="p-story__human1">
                    {{ 'story-human1.png' | file_img_url : 'master' | img_tag: 'story-human1' }}               
                </div>
                <div class="p-story__human2">
                    {{ 'story-human2.png' | file_img_url : 'master' | img_tag: 'story-human2' }}               
                </div>
           	 	<p>学生</p>
          </div>
        </div>
        <div class="story-right-container">
            <div class="find-right__inner">
                <div class="p-story__human3">
                    {{ 'story-human3.png' | file_img_url : 'master' | img_tag: 'story-human3' }}               
                </div>
              <p>生産者</p>
            </div>
        </div>
      </div>
    </div>
    
    <div class="p-story__dots">
        {{ 'story-dots2.png' | file_img_url : 'master' | img_tag: 'story-dots1'}}               
    </div>
    <div class="p-story-connect p-story-connect1">
        <div class="story-connect">
            {{ 'story-connect.png' | file_img_url : 'master' | img_tag: 'story-connect' }}               
        </div>
        <div class="p-story__title">
            <p>ノウハウ支援</p>
        </div>
      <div class="story-container__all">
        <div class="story-container">
            <div class="sweets-container__bg">
                {{ 'story-connect_bg.png' | file_img_url : 'master' | img_tag: 'story-vegi1' }}               
            </div>
            <div class="story-container__inner">
                <div class="p-story__sweet1">
                    {{ 'story-sweet1.png' | file_img_url : 'master' | img_tag: 'story-sweet1','sway-s-after' }}               
                </div>
                <div class="p-story__sweet2">
                    {{ 'story-sweet2.png' | file_img_url : 'master' | img_tag: 'story-sweet2','sway-s-after' }}               
                </div>
                <div class="p-story__sweet3">
                    {{ 'story-sweet3.png' | file_img_url : 'master' | img_tag: 'story-sweet3','sway-s-after' }}               
                </div>
            </div>
            <p>2次／加工</p>
        </div>
        <div class="story-left-container">
            <div class="connect-left__inner">
                <div class="p-story__human4">
                    {{ 'story-human4.png' | file_img_url : 'master' | img_tag: 'story-human1' }}               
                </div>
              <p>ISHIYA</p>
            </div>
        </div>
        <div class="story-right-container">
            <div class="connect-right__inner">
                <div class="p-story__human5">
                    {{ 'story-human5.png' | file_img_url : 'master' | img_tag: 'story-human5' }}               
                </div>
                <div class="p-story__human6">
                    {{ 'story-human6.png' | file_img_url : 'master' | img_tag: 'story-human6' }}               
                </div>
            <p>仲間たち</p>
          </div>
        </div>
      </div>
    </div>
    <div class="p-story__dots">
        {{ 'story-dots3.png' | file_img_url : 'master' | img_tag: 'story-dots3'}}               
    </div>
    <div class="p-story-connect p-story-connect2">
        <div class="p-story__title">
            <p>価値の最大化</p>
        </div>
      <div class="story-container__all">
        <div class="story-container">
            <div class="connect-container__bg2">
                {{ 'story-connect_bg2.png' | file_img_url : 'master' | img_tag: 'story-find_bg2' }}             
            </div>
            <div class="story-container__inner">
                <div class="p-story__connect">
                    {{ 'story-connect2.png' | file_img_url : 'master' | img_tag: 'story-connect2'}}               
                </div>
            </div>
            <p>3次／販売</p>
        </div>
        <div class="story-left-container">
            <div class="connect-left__inner">
                <div class="p-story__human4">
                    {{ 'story-human4.png' | file_img_url : 'master' | img_tag: 'story-human4' }}               
                </div>
                <div class="p-story__human7">
                    {{ 'story-human7.png' | file_img_url : 'master' | img_tag: 'story-human7' }}               
                </div>
	          <p>ISHIYA</p>
          </div>
        </div>
        <div class="story-right-container">
            <div class="connect-right__inner">
                <div class="p-story__human5">
                    {{ 'story-human5.png' | file_img_url : 'master' | img_tag: 'story-human5' }}               
                </div>
                <div class="p-story__human6">
                    {{ 'story-human6.png' | file_img_url : 'master' | img_tag: 'story-human6' }}               
                </div>
                <div class="p-story__human8">
                    {{ 'story-human8.png' | file_img_url : 'master' | img_tag: 'story-human8' }}               
                </div>
                <div class="p-story__human9">
                    {{ 'story-human9.png' | file_img_url : 'master' | img_tag: 'story-human9' }}               
                </div>
	            <p>仲間たち</p>
          </div>
        </div>
      </div>
    </div>
    <div class="p-story__dots">
        {{ 'story-dots4.png' | file_img_url : 'master' | img_tag: 'story-dots4'}}               
    </div>
    <div class="p-story-connect p-story-connect3">
        <div class="p-story__title">
            <p>ストーリーがある<br class="sp-block">想いの実現</p>
        </div>
      <div class="story-container__all">
        <div class="story-container">
            <div class="sweets-container__bg3">
                {{ 'story-connect_bg3.png' | file_img_url : 'master' | img_tag: 'story-find_bg3' }}             
            </div>
            <div class="story-container__inner">
                <div class="story-connenct-main">
                    {{ 'story-connenct-main.png' | file_img_url : 'master' | img_tag: 'story-connenct-main' }}
                </div>
            </div>
            <p>ストーリー設計</p>
        </div>
        <div class="story-left-container">
            <div class="connect-left__inner">
                <div class="connect-left__3-1">
                    {{ 'story-connenct3-img1.png' | file_img_url : 'master' | img_tag: 'story-connenct3-img1' }}               
                </div>
                <div class="connect-left__3-2">
                    {{ 'story-connenct-img2.png' | file_img_url : 'master' | img_tag: 'story-connenct3-img2' }}               
                </div>
              	<p></p>
            </div>
        </div>
        <div class="story-right-container">
            <div class="connect-right__inner">
                <div class="connect-right__3-3">
                    {{ 'story-connenct-img3.png' | file_img_url : 'master' | img_tag: 'story-connenct3-img3' }}
                </div>
                <div class="connect-right__3-4">
                    {{ 'story-connenct-img4.png' | file_img_url : 'master' | img_tag: 'story-connenct3-img4' }}
                </div>
                <div class="connect-right__3-5">
                    {{ 'story-connenct-img5.png' | file_img_url : 'master' | img_tag: 'story-connenct3-img5' }}
                </div>
                <div class="connect-right__3-6">
                    {{ 'story-connenct-img6.png' | file_img_url : 'master' | img_tag: 'story-connenct3-img6' }}
                </div>
                <p></p>
            </div>
        </div>
      </div>
    </div>
    <div class="p-story__dots">
        {{ 'story-dots5.png' | file_img_url : 'master' | img_tag: 'story-dots5'}}               
    </div>
    <div class="p-story-fine">
        <div class="story-fine">
            {{ 'story-fine.png' | file_img_url : 'master' | img_tag: 'story-fine' }}               
        </div>
        <div class="p-story__title">
            <p>伝える・ひろがる</p>
        </div>
      <div class="story-container__all">
        <div class="story-container">
            <div class="hokkaido-container__bg">
                {{ 'hokkaido_bg.png' | file_img_url : 'master' | img_tag: 'story-vegi1','sp-none' }}
                {{ 'hokkaido_bg-sp.png' | file_img_url : 'master' | img_tag: 'story-vegi1','sp-block' }}
            </div>
            <div class="story-container__inner">
                <div class="hokkaido">
                    {{ 'hokkaido.png' | file_img_url : 'master' | img_tag: 'hokkaido'}}               
                </div>
            </div>
        </div>
        <div class="story-left-container">
            <div class="find-left__inner">
                <div class="story-last__human1">
                    {{ 'story-human1.png' | file_img_url : 'master' | img_tag: 'story-human1' }}               
                </div>
                <div class="story-last__human2">
                    {{ 'story-human2.png' | file_img_url : 'master' | img_tag: 'story-human2' }}               
                </div>
                <div class="story-last__human3">
                    {{ 'story-human8.png' | file_img_url : 'master' | img_tag: 'story-human8' }}               
                </div>
                <div class="story-last__human4">
                    {{ 'story-human9.png' | file_img_url : 'master' | img_tag: 'story-human9' }}               
                </div>
            <p>地域</p>
          </div>
        </div>
        <div class="story-right-container story-right-contaier_last">
            <div class="find-right__inner">
                <div class="story-last__human5">
                    {{ 'story-human4.png' | file_img_url : 'master' | img_tag: 'story-human4' }}               
                </div>
                <div class="story-last__human6">
                    {{ 'story-human1.png' | file_img_url : 'master' | img_tag: 'story-human1' }}               
                </div>
                <div class="story-last__human7">
                    {{ 'story-human6.png' | file_img_url : 'master' | img_tag: 'story-human6' }}               
                </div>
                <div class="story-last__human8">
                    {{ 'story-human7.png' | file_img_url : 'master' | img_tag: 'story-human7' }}               
                </div>
            <p>応援者</p>
          </div>
        </div>
        <div class="story-right-container story-right-contaier_last2">
            <div class="find-right__inner">
                <div class="story-last__human9">
                    {{ 'story-human10.png' | file_img_url : 'master' | img_tag: 'story-human10' }}               
                </div>
                <div class="story-last__human10">
                    {{ 'story-human11.png' | file_img_url : 'master' | img_tag: 'story-human11' }}               
                </div>
                <div class="story-last__human11">
                    {{ 'story-human5.png' | file_img_url : 'master' | img_tag: 'story-human5' }}               
                </div>
            <p>消費者</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "story map",
    "settings": [],
	"presets": [
      {
        "name": "story map"
      }
    ]
 }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
