
<script type="text/javascript" src="{{ 'script.js' | asset_url }}"></script>
  
   <section class="p-policy p-termofuse">
     <div class="p-policy__inner">
               {% render 'breadcrumbs-custom' %}
       <div class="p-policy__top">
         <div class="p-terms-of-use__bg ">
           {{ 'p-terms-of-use-bg.png' | file_img_url : 'master' | img_tag: 'p-terms-of-use-bg'}}
          </div>
          <div class="p-terms-of-use__human1">
             {{ 'p-termsofuse-human1.png' | file_img_url : 'master' | img_tag: 'p-termsofuse-human1.png', 'fallin' , 'fallin-delay1'}}      
          </div>
          <div class="p-terms-of-use__human2">
             {{ 'p-termsofuse-human2.png' | file_img_url : 'master' | img_tag: 'p-termsofuse-human2','fallin' , 'fallin-delay1' }}      
          </div>
          <div class="p-terms-of-use__mistletoe">
             {{ 'p-terms-of-use-mistletoe.png' | file_img_url : 'master' | img_tag: 'p-terms-of-use-mistletoe' , 'sway' }}      
          </div>
          <div class="p-feature__top p-terms-of-use__title">
            <p class="p-project__ttl p-feature__ttl c-ttl p-terms-of-use__ttl">利用規約</p>
            {{ 'p-terms-of-use-underline.png' | file_img_url : 'master' | img_tag: 'p-terms-of-use-underline.png' }}
          </div>
       </div>
       <div class="p-policy__wrapper">
         <div class="p-policy__content">
           <div class="p-policy-green">
             <p class="p-policy__content--title c-heading">本サイトのご利用上のご注意について</p>
           </div>
           <div class="p-policy__content--top p-policy__text">
            HOKKAIDO FARM STORYのホームページをご利用いただきありがとうございます。<br>
            HOKKAIDO FARM STORY <a href="{{ routes.root_url }}" class="p-policy__content--link">https://www.150farm.ishiya.co.jp</a>（以下、本サイトといいます）は、<br>
            石屋製菓株式会社とそのグループ会社である石屋商事株式会社（以下、当社といいます）が運営・管理しております。
           </div>

           <ul class="p-policy__content--lists">
              <div class="p-policy__content--list p-policy__first">
                <h2 class="p-policy__content--title c-heading">1. <span>個人情報保護法方針について</span></h2>
                <p class="p-policy__content--description p-policy__text">
                  当社は、お客様の個人情報保護のために「個人情報保護方針」を定めております。<br>
                  当社は、本サイトをお客様に安心してご利用いただくために、「個人情報保護方針」を遵守し、運用・管理を行なっています。<br>
                  詳細は「個人情報保護方針」を参照下さい。
                </p>
              </div>

              <div class="p-policy__content--list p-policy__two">
                <h2 class="p-policy__content--title c-heading">2. <span>個人情報をご提供いただく際のご注意について</span></h2>
                <p class="p-policy__content--description p-policy__text">
                  個人情報をご提供いただく際には「個人情報保護方針」と以下に掲げるご利用条件を十分にご理解いただき、同意いただける場合に限って個人情報をご提供下さいますようお願い申し上げます。
                </p>
              </div>

              <div class="p-policy__content--list p-policy__three">
                <h2 class="p-policy__content--title c-heading">3. <span>著作権について</span></h2>
                <p class="p-policy__content--description p-policy__text">
                  本サイトに記載しております商標・デザイン・写真などの掲載情報は著作権法および各種法律により保護されております。当社の承諾なく使用・転用・流用する事を禁止いたします。
                </p>
              </div>

              <div class="p-policy__content--list p-policy__fource">
                <h2 class="p-policy__content--title c-heading">4. <span>ログ・ファイルについて</span></h2>
                <p class="p-policy__content--description p-policy__text">
                  当社は、本サイトの利用傾向の分析など幅広い統計情報の収集・分析に関してアクセスログ・ファイルを使用します。これにより当社は、ページリーダー数、ページ滞在時間など統計的なサイト利用情報を得ることが出来ますが、個人特定情報の収集は含まれておりません。
                </p>
              </div>

              <div class="p-policy__content--list p-policy__five">
                <h2 class="p-policy__content--title c-heading">5. <span>業務委託について</span></h2>
                <p class="p-policy__content--description p-policy__text">
                  当社は、お客様によりよいサービスをご提供するために、当社にて充分に信頼できると判断した外部企業（以下、業務委託先といいます）に当サイトの運営業務を委託することがあります。この場合も、お客様の個人情報が適切に保護・管理されるよう、業務委託先に対して指示・監督を行うなど、十分な注意を払います。
                </p>
              </div>

              <div class="p-policy__content--list p-policy__six">
                <h2 class="p-policy__content--title c-heading">6. <span>セキュリティーについて</span></h2>
                <p class="p-policy__content--description p-policy__text">
                  本サイトは、プライバシー保護およびセキュリティー確保のため、お客様の個人情報について厳重なセキュリティー対策を講じております。当社は、必要がある場合、データ伝送を保護するためSSL暗号を使用しております。
                </p>
              </div>

              <div class="p-policy__content--list p-policy__seven">
                <h2 class="p-policy__content--title c-heading">7. <span>サイトへのリンクについて</span></h2>
                <p class="p-policy__content--description p-policy__text">
                本サイトへのリンクを希望されるお客様は、本サイトの中の「お問合わせ」からお申し込み頂き、当社の承諾を得ることによりリンクができます。<br>
                ただし、当社はリンクをされたサイトに対して責任と義務を負うことはありません。<br>
                また、下記のサイトからのリンクはお断りさせて頂きます。
                </p>
                <div class="p-policy__text--item1">
                  <p>
                    (1) 公序良俗に反するサイト<br>
                    (2) 当社の事業領域とは関係のないサイト<br>
                    (3) その他、当社が不適切と判断したサイト
                  </p>
                </div>
              </div>

              <div class="p-policy__content--list p-policy__eight">
                <h2 class="p-policy__content--title c-heading">8. <span>禁止事項について</span></h2>
                <div class="p-policy__text--item2">
                  <p>
                    本サイトのご利用に関し、下記の行為を禁止します
                  </p>
                </div>
                <p class="p-policy__content--description p-policy__text">
                  (1) 当社または第三者に不利益もしくは損害を与える行為<br>
                  (2) 犯罪行為もしくは犯罪に結びつく行為<br>
                  (3) 当社の許諾を得ない営業行為<br>
                  (4) コンピューターウイルス感染などの妨害行為<br>
                  (5) 他人や虚偽の電子メールアドレスによる申告・届出を行なう行為<br>
                  (6) その他、当社が不適切と判断する行為
                </p>
              </div>

              
              <div class="p-policy__content--list p-policy__ninet">
                <h2 class="p-policy__content--title c-heading">9. <span>免責事項について</span></h2>
                <p class="p-policy__content--description p-policy__text">
                  本サイトに記載している内容は予告なく修正や変更を行なうことがあります。<br>
                  記載内容には正確性に万全を期すものですが、変更の必要が生じた場合速やかに訂正・削除を行います。また、当社は本サイトのご利用に起因するソフトウェア・ハードウェア上の事故、ご利用者間またはご利用者と第三者の間において生じたトラブル、その他の事故等による全ての損害について、いかなる責任も負いません。
                </p>
              </div>
            </ul>

         </div>
       </div>
     </div>
   </section>
           


{% schema %}
  {
    "name": "Policy-terms-of-use",
    "settings": [
	],
	"presets": [
      {
        "name": "Policy-terms-of-use"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

