<section class="p-pagebtm">
          <div class="p-mountain__img">
               {{ 'mountain.png' | file_img_url : 'master' | img_tag: 'mountain' }}
          </div>
          <div class="p-mountain__right--image">
                   {{ 'tree-onthemountain3.png' | file_img_url : 'master' | img_tag: 'tree-onthemountain3i' , 'sway-after' }}      
           </div>

          <div class="p-mountain__image1">
                   {{ 'tree-onthemountain1.png' | file_img_url : 'master' | img_tag: 'project-broccoli' , 'sway-after' }}      
           </div>

           <div class="p-mountain__image2">
                    {{ 'tree-onthemountain2.png' | file_img_url : 'master' | img_tag: 'tree-onthemountain2i' , 'sway-after' }}      
           </div>

           <div class="p-mountain__owl">
                    {{ 'owl.png' | file_img_url : 'master' | img_tag: 'owl.png' }}      
           </div>

           <div class="p-mountain__fox">
                    {{ 'fox-onthemountain.png' | file_img_url : 'master' | img_tag: 'fox-onthemountain.png' }}      
           </div>

           <div class="p-mountain__squarrel">
                    {{ 'squarrel-onthemountain.png' | file_img_url : 'master' | img_tag: 'squarrel-onthemountain' }}      
           </div>

           <div class="p-mountain__bird1">
                    {{ 'bird-onthemountain1.png' | file_img_url : 'master' | img_tag: 'bird-onthemountain1' , 'sway-after' }}      
           </div>

           <div class="p-mountain__bird2">
                    {{ 'bird-onthemountain2.png' | file_img_url : 'master' | img_tag: 'bird-onthemountain2' , 'sway-after' }}      
           </div>

        </section>
{% schema %}
  {
    "name": "page bottom",
    "settings": [],
	"presets": [
      {
        "name": "page bottom"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
